<h1> <%# <%= link_to"〈", root_path, class: "arrow" %> Your Dashboard</h1>

<h5>Current trips</h5>

  <% if @trips.count.positive? %>
    <% @trips.each do |trip| %>
    <div>
      <%= link_to trip.start_time.strftime("%A, %B %d"), trip_path(trip) %>

      <span class="badge">
        <%= link_to trip.bookings.where(status: 1).count, dashboard_path(trip) %>
      </span>
    </div>
    <% end %>
  <% end %>
