// Define variables for your color scheme

// For example:
$dark: #292929;
$gray: #7D7C82;
$steel: #E8F1FD;
$blue: #B2D1F8;
$rose: #F55E6E;
$rosehover: #F99FA8;
$purple: #410D7D;
$darkpurple: #3F3D56;
$hoverpurple: #4F4C6B;
$purple-light: #9E59EE;
$light-gray: #E6E6E6;
