a {
  color: $rose;
  font-weight: 500;
  font-size: 12;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

.arrow {
  color: $light-gray;
}

.block-link-text {
  color: $gray;
}

body {
  background-color: white;
}

.button {
  // background: linear-gradient(to bottom right, $blue, $steel);
  background-color: $rose;
  color:white;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.content {
  padding-top: 100px;
  padding-left: 20px;
  background-color: white;
  color: $gray;
  // margin: 50px 100px 10px 100px;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  color: $dark;
}

h2, h3, h4, h5 {
  margin: 40px 0 10px 40px;
  color: $dark;
  font-family: Quicksand;
}
.content {
  min-height: calc(100vh - 62px);
}
