.img-about {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 50px;
  height: 340px;

  h3 {
    margin: 0;
    padding-bottom: 10px;
    color: $gray;
  }
  p {
    color: $gray;
  }

}

.flip-card {
  background-color: transparent;
  width: 350px;
  margin: 5px;
  height: auto;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.active-about {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: $dark;

  img {
    border-radius: 10px;
  }
}

/* Style back side */
.flip-card-back {
  color: $dark;
  transform: rotateY(180deg);
  width: 95%;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  margin:0 30px 10px 30px;
  // border-color: #707c82;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  cursor: pointer;
}

.fifth-card {
  height: 330px;
  margin: 0 auto;

  h3 {
    margin: 0;
    padding-bottom: 10px;
    color: $gray;
  }
  p {
    color: $gray;
  }


}
