.banner {
  background-color: $steel;
  width: auto;
  height: 300px;
}

.form {
  margin-left: 100px;
}
.header-text {
  padding: 20px 40px 20px 40px;
}
.list {
  list-style-type: none;
}
li {
  margin: 0 0 10px 0;
}
.line {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $gray;
  border-top:1px solid $gray;
  width: 230px;
}

.name-price {
  width: 230px;
  display: flex;
  align-items: inline;
  justify-content: space-between;
}

.trip-container {
  display: flex;
  align-items: inline;
  justify-content: start;
}

.trip-details {
  flex-grow: 1;
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}

.search-field {
  width: 200px;
}

#search-bar input {
  display: inline-block
}
