.banner {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, $rose, #F99FA8);
  width: auto;
  height: 400px;
  margin-top: -40px;
  margin-left: -20px;
}

.form {
  margin-left: 100px;
}
.header-text {
  padding: 20px 40px 20px 40px;
}

.img-banner {
  width: 300px;
  margin-top: 140px;
  margin-left: 15px;
}

.index-h1 {
  color: white;
  font-size: 3.3rem;
  margin: 70px 100px 10px 100px;
}

.index-p {
  color: white;
  margin:0 100px 20px 100px;
}

.index-button {
  background:white;
  color: $rose;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  margin: 5px 0 20px 50px;
  border: 0;
}

li {
  margin: 0 0 10px 0;
}

.line {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $gray;
  border-top:1px solid $gray;
  width: 230px;
}

.list {
  list-style-type: none;
}

.name-price {
  width: 230px;
  display: flex;
  align-items: inline;
  justify-content: space-between;
}

#search-bar {
  display: flex;
  border-radius: 10px;
  height: 50px;
  width: 920px;
  background-color: white;
  margin-bottom: 0;

  .location {
    margin-top: 5px;
  }

  span {
    width: auto;
  }

  .form-control {
    display: inline-block;
    border: white;
  }

  .index-button {
    margin: 0;
  }
}

.search-field {
  width: 200px;
  padding: 14px 24px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

.search-separator {
  margin-top: 12px;
  color: lightgray;
}

.trip-container {
  display: flex;
}

.trip-details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 30px;
//   flex-grow: 1;
//   display: grid;
//   padding-left: 0;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trip-header {
  width: 500px;
}
