.badge {
  display: inline-block;
  // padding: 0.25em 0.4em;
  font-size: 15px;
  font-weight: 700;
  width: 25px;
  height: 25px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  background-color: $rose;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: absolute;
  margin-left: 10px;
  margin-top: -30px;
}
.badge-place {
  margin-left: 255px;
}
.button-chat {
  background-color: $darkpurple;
  color:white;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid $darkpurple;
}
.button-chat:hover {
  background-color: white;
  color: $rose;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid $rose;
}
.button-edit-cancel {
  background-color: white;
  color: $rose;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid $rose;
}
.button-edit-cancel:hover {
  background-color: $darkpurple;
  color:white;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid $darkpurple;
}
.button-place {
  padding: 15px 0 5px;
  border-top: 1px solid $light-gray;
  display: flex;
  justify-content: space-between;
}
.dash-container {
  display: flex;
  align-items: inline;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dash-trip-card {
  padding: 20px 20px 15px 20px;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 300px;
  border-radius: 10px;
  margin:0 0 10px 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  position: relative;
}

.dash-container {
  display: flex;
  align-items: inline;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 0;
}

.dash-trip-card {
  padding: 20px;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 300px;
  border-radius: 10px;
  margin:0 0 30px 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.dash-trip-card-link {
  padding: 20px;
  display: block;
  top: 0px;
  position: relative;
  height: auto;
  width: 300px;
  border-radius: 10px;
  margin: 0 0 30px 30px;
  text-decoration: none;
  z-index: 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);


  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    background-color: white;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: white;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

li {
  margin: 0 0 10px 0;
}

.line {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $gray;
  border-top:1px solid $gray;
  width: 250px;
  border-color:$light-gray;
}

.list {
  list-style-type: none;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, .5);
  z-index: 999;
}
.modal-hidden {
  display: none;
}
.modal-inner {
  width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.name-price-accepted {
  width: 250px;
  display: flex;
  align-items: inline;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 15px;
}
.name-price-completed {
  display: flex;
  border-bottom: 1px solid $light-gray;
  align-items: inline;
  justify-content: space-between;
  margin-bottom: 15px;
  .remove-padding-p {
    margin: 0 0 8px 0;
  }
}
.name-price-else {
  width: 100%;
  display: flex;
  align-items: inline;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  p {
    margin: 0 0 8px 0;
  }
}
.pending-declined {
  color: $rose;
  font-weight: 700;
}
.status-line {
  .remove-padding-p {
    margin: 0 0 8px 0;
  }
}
.underline {
  border-bottom: 1px solid $light-gray;
  color: $dark;
  font-weight: bold;
}

.chat-status-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0 5px 0;
  .chat-button-container {
    height: 36px;
    .button-chat {
      margin: 0;
      display: block;
    }
  }
  p {
    margin: 0;
    align-self: center;
  }
}

.dashboard-container-wrapper {
  display: flex;
  .dashboard-flex {
    width: calc(100% - 350px);
  }
}

.no-results-container p {
  margin: 20px 0 10px 40px;
}

.no-results-container a {
  margin: 20px 0 10px 40px;
}
