.list {
  list-style-type: none;
}

li {
  margin: 0 0 10px 0;
}

.line {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $gray;
  border-top:1px solid $gray;
  width: 250px;
  border-color:$light-gray;
}

.name-price {
  width: 250px;
  display: flex;
  align-items: inline;
  justify-content: space-between;
}

.trip-container {
  display: flex;
  align-items: inline;
  justify-content: start;
}
