.content {
  margin: 0 !important;
}

.fa-check-square {
  font-size: 20px;
  color: #7D7C82;
}

.end-details {
  margin-top: 10px;
  border-bottom: 2px solid #E6E6E6;
}

.price {
  border-bottom: 2px solid #E6E6E6;
}

.driver-details {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #E6E6E6;
}

.bigger-text {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.list-items {
  margin: 10px;
}

.button {
  color: white;
}

.button-div {
  margin-top: 30px;
}