<% if notice %>
  <div class="alert alert-blue alert-dismissible fade show m-1 close" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-blue alert-dismissible fade show m-1 close" role="alert">
    <%= alert %>
  </div>
<% end %>