.fa-chevron-left {
  font-size: 2rem;
  color: #292929;
  padding-top: 5px;
}

.back-arrow a {
  text-decoration: none;
}

.back-arrow a:hover {
  text-decoration: none;
}

.back-arrow-text {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 3rem;
}

.back-arrow-text-2 {
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 3rem;
}