.cards {
  flex-grow: 1;
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}

.card {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 20px;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin:0 30px 10px 30px;
  // border-color: #707c82;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.card-items {
  display: flex;
  // justify-content: space-between;
}

.grey-field {
  border-radius: 5px;
  padding: 10px;
  background-color: $light-gray;
}

.button-position {
  display: flex;
  justify-content: flex-end;
}
