.footer {
  background: #e8f1fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color:#707c82;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $dark;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $rose;
}
.footer .fa-heart {
  font-size: 15px;
  color: $rose;
}
