.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10px 50px;
  color: $gray;
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $gray;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 10px;
}
.footer-links a:hover {
  color: $rose;
}
.footer .fa-heart {
  font-size: 15px;
  color: $gray;
}
