.img-info-box {
  width: 400px;
  margin-right: 300px;
}

.info-box-sender {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.info-box-header-sender {
  width: 400px;
  margin-left: 300px;
  font-weight: medium;
  color: $darkpurple;
}

.info-box-subheader-sender {
  width: 400px;
  margin-left: 300px;
  font-weight: light;
  color: $darkpurple;
  margin-top: 0;
}

.img-info-car{
  width: 400px;
  margin-left: 300px;
}

.info-box-driver {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.info-box-header-driver {
  width: 400px;
  margin-right: 200px;
  font-weight: medium;
  color: $darkpurple;
}

.info-box-subheader-driver {
  width: 400px;
  margin-right: 200px;
  font-weight: light;
  color: $darkpurple;
  margin-top: 0;
}
