.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

// h4 {
//   color: #7D7C82 !important;
// }

#map {
  // overflow: visible !important;
  margin-top: 0;
  border-radius: 10px;
}

// .mapboxgl-canvas {
//     margin-top: 40px;
//     border-radius: 10px;
// }
