.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

a {
  color: #7D7C82 !important;
}

h4 {
  color: #7D7C82 !important;
}

#map {
  overflow: visible !important;
}