.mapboxgl-popup {
  width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
}

#map {
  position: sticky;
  top: 0px;
  height: 900px;
  width: 730px;
  float: right;
  margin-bottom: -20px;
  margin-left: 30px;
}
