#after-banner-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right, $rose, $rosehover);
  height: 60px;
  position: fixed;
  top: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  margin: 10px 0 0 20px;
}

#navbarSupportedContent {
  margin: 10px 20px 0 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-logo-white {
  width: 70px;
  height: 30px;
  background-image: image-url("cargo-logo-white");
  background-size: cover;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out; opacity: 1;
}

.navbar-logo-color {
  width: 70px;
  height: 30px;
  background-image: image-url("cargo-logo3.png");
  background-size: cover;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out; opacity: 1;
}

.past-scroll {
  background: white;
}

.scroll-text {
  color: $gray;
}

.z-index {
  z-index: 3;
}
