.button {
  border: 0;
}

.button-position {
  display:flex;
  justify-content: center;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  background-color: $blue;
  color: white;
  border-color: white;
}

.new-trip-form {
  .form-control {
    margin-bottom: 10px;
  }
}

.size-examples  {
  font-size: 15px;
}

#trip_capacity_small + label {
  color: $gray;
  ;
}

#trip_capacity_small:checked + label {
  background-color: $blue;
  color: white;
  border-color: white;
}

.checked-capacity + label {
  background-color: $blue;
  border-color: white;
  color: white !important;
}


#trip_capacity_medium + label {
  color: $gray;
}

#trip_capacity_medium:checked + label {
  background-color: $blue;
  color: white;
  border-color: white;
}

#trip_capacity_large + label {
  color: $gray;
}

#trip_capacity_large:checked + label {
  background-color: $blue;
  color: white;
  border-color: white;
}

.price-container {
  margin-top: 15px;
}

#trip_price {
  margin-bottom: 0px ;
}

.booking_item {
  margin-top: 8px;
}

.fa-long-arrow-alt-down {
  margin-bottom: 15px;
  font-size: 20px;
}
